<% for(comment of post.comments){ %>
<div class="Comments-container">
	<p>
		<% if (locals.user && (comment.user.id == locals.user.id || post.user.id==
		locals.user.id)) { %>
		<a href="/comments/deleteComment/<%=comment.id%>">X</a>
		<% } %> <%= comment.content %>
		<br />
		<div id = "likes">
			<h2 style="color:blue"><%= comment.likes.length%> </h2>
			<form action="/likes/toggle/?id=<%=comment._id%>" method="post" id="comment-like-form">
				<button type="button">Like Comment</button>
			</form>
		</div>
		<%= comment.user.name %>
	</p>
</div>

<% } %>
