<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/CSS/layout.css">
    <%-style %> 
    <title><%= title %></title>
    
</head>
<body>
    <%-include("_header.ejs"); %>

    <%- body %> 

    <%-include("_footer.ejs"); %>
    <%-script %> 
</body>
</html>