<body>
	<h1><%= title %></h1>
	<% if(user.id == porfile_user.id){ %>
	<h2>Logged In User</h2>
	<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100px" />
	<form
		action="/users/updateDetails/<%=porfile_user.id%>"
		method="post"
		enctype="multipart/form-data"
	>
		<input
			type="text"
			name="name"
			value="<%= user.name %>"
			placeholder="YOUR NAME"
		/>
		<input
			type="email"
			name="email"
			value="<%= user.email%>"
			placeholder="Your Email"
		/>
		<input type="file" name="avatar" id="" />
		<button type="submit">UPDATE</button>
	</form>

	<% } else {%>
	<h2>Name : <%= porfile_user.name %></h2>
	<h2>Email : <%= porfile_user.email %></h2>
	<% } %>
</body>
